* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  /* box-sizing: border-box; */

  background: transparent;

  font-family: inherit;

  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

/* button, */
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

/* Alapértelmezett font méret: 16px alapértelmezett fontvastagság: medium
Alapértelmezett szövegszín: #138073
Háttérszín: #E6E6E6
Cím: font mérete: 24px, betűköz: 0.2em
Szöveges input mezők: magasságuk: 64px, maximális szélességük (Mobilnézetben az eltartás jobb és baoldalon 30px)
checkbox mérete 20px
Gomb: háttérszín: #39B69F fontméret: 12px betüköz: 0.2em */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  background-color: #e6e6e6;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #138073;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 80%;
}

h1 {
  width: 100%;
  font-size: 24px;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 650px) {
  h1 {
    text-align: right;
  }
}

input {
  height: 64px;
  width: 500px;
  margin-bottom: 30px;

  box-sizing: border-box;

  background-color: white;
  color: #39b69f;
}

.text-input {
  width: 100%;
  outline: 1px solid black;
  padding-left: 15px;
  margin: 0 30 30 30;
}

#privacy-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  margin-bottom: 30px;
}

#privacy {
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin: 0;
  margin-right: 15px;

  outline: 1px solid black;
}

a {
  text-decoration: underline;
}

button {
  height: 64px;
  width: 220px;
  max-width: 80%;
  background-color: #39b69f;
  font-size: 12px;
  color: white;
  letter-spacing: 0.2em;
}
